@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body {
    height: 100vh;
    background-color: gray;
    margin: 0;
    display: grid;
    place-items: center;
}

#submitBtn img {
    transform: scale(1.5);
}